@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Inter:wght@200;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #999 #f2f2f2;
}

body {
  font-family: 'Alegreya', serif;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #c6c6c6;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.editable-div {
  max-height: 140px; /* Set the maximum height to 200px */
  overflow-y: auto;
}

.editable-div[data-placeholder]:before {
  content: attr(data-placeholder);
  color: #999;
}

.editable-div.filled[data-placeholder]:before {
  display: none;
}
